@model GPSInformation.Models.CapSess

    <div class="media align-items-center mg-b-20">
        <div class="media-body">
            <h6 class="mg-b-3">@Html.DisplayFor(model => model.Nombre)</h6>
            <span class="d-block tx-13 tx-color-03">Session No: @Html.DisplayFor(model => model.NoSession)</span>
            <span class="d-block tx-13 tx-color-03">Duración: @Html.DisplayFor(model => model.Duracion)</span>
        </div>
        <span class="d-none d-sm-block tx-12 tx-color-03 align-self-start">@Html.DisplayFor(model => model.Creada)</span>
    </div><!-- media -->
    <p class="mg-b-20">Our team is expanding again. We are looking for a Product Manager and Software Engineer to drive our new aspects of our capital projects. If you're interested, please drop a comment here or simply message me. <a href="">#softwareengineer</a> <a href="">#engineering</a></p>

